{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <h1>Your Cart</h1>
    <div class="overflow-x-auto">
        <table class="table">
            <!-- head -->
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Color</th>
                    <th>Quantiry</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for key, item in cart.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>
                            <a class="link link-primary"
                               href="{% url "store:product_detail" item.slug %}">{{ item.name }}</a>
                        </td>
                        <td class="price">{{ item.price }}</td>
                        <td>{{ item.size }}</td>
                        <td>{{ item.color }}</td>
                        <td class="flex space-x-3 items-center">
                            <button hx-get="{% url "store:decrement_cart_item" key %}"
                                    hx-target="#cart-{{ key }}-quantity"
                                    hx-swap="innerHTML"
                                    class="btn btn-primary decrement-cart">-</button>
                            <div id="cart-{{ key }}-quantity">{{ item.quantity }}</div>
                            <button hx-get="{% url "store:increment_cart_item" key %}"
                                    hx-target="#cart-{{ key }}-quantity"
                                    hx-swap="innerHTML"
                                    class="btn btn-primary increment-cart">+</button>
                        </td>
                        <td class="total">{{ item.total }}</td>
                    </tr>
                {% empty %}
                    <div>No</div>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block script %}
    <script defer type="module" src="{% static "js/cart.js" %}"></script>
{% endblock script %}
