{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <div class="min-h-[700px]">
        <h1>Your Cart</h1>
        <div class="overflow-x-auto mt-3">
            <table class="table">
                <!-- head -->
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Quantiry</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, item in cart.items %}
                        <tr>
                            <td>
                                <a class="link link-primary"
                                   href="{% url "store:product_detail" item.slug %}">{{ item.name }}</a>
                            </td>
                            <td class="price">{{ item.price }}</td>
                            <td>{{ item.size }}</td>
                            <td>{{ item.color }}</td>
                            <td class="flex space-x-3 items-center">
                                <button hx-get="{% url "store:decrement_cart_item" key %}"
                                        hx-target="#cart-{{ key }}-quantity"
                                        hx-swap="innerHTML"
                                        class="btn btn-primary decrement-cart">-</button>
                                <div id="cart-{{ key }}-quantity">{{ item.quantity }}</div>
                                <button hx-get="{% url "store:increment_cart_item" key %}"
                                        hx-target="#cart-{{ key }}-quantity"
                                        hx-swap="innerHTML"
                                        class="btn btn-primary increment-cart">+</button>
                            </td>
                            <td class="total">{{ item.total }}</td>
                        </tr>
                    {% empty %}
                        <div>No items in cart yet.</div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="divider mb-5"></div>
        <!-- All Total-->
        <div class="flex justify-center py-4">
            <div class="stats bg-primary text-primary-content">
                <div class="stat">
                    <div class="stat-title">All total in MMK</div>
                    <div class="stat-value" id="all-total">10000</div>
                    <div class="stat-actions">
                        <a href="{% url "store:make_order" %}" class="btn btn-sm">Make order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    <script defer type="module" src="{% static "js/cart.js" %}"></script>
{% endblock script %}
