{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto space-y-3 py-10 text-secondary-content">
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2" checked="checked" />
            <div class="collapse-title text-xl font-medium">
                <div class="badge badge-secondary">Initial deposit စောင့်ဆိုင်းနေသည်။</div>
            </div>
            <div class="collapse-content text-white">
                <p>hello</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-medium">
                <div class="badge badge-secondary">Order မှာယူရန် စောင့်ဆိုင်းနေသည်။</div>
            </div>
            <div class="collapse-content text-white">
                <p>hello</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-medium">
                <div class="badge badge-secondary">Order ရောက်ရှိရန် စောင့်ဆိုင်းနေသည်။</div>
            </div>
            <div class="collapse-content text-white">
                <p>hello</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-medium">
                <div class="badge badge-secondary">Order ပေးပို့ရန် စောင့်ဆိုင်းနေသည်။</div>
            </div>
            <div class="collapse-content text-white">
                <p>hello</p>
            </div>
        </div>
        <div class="collapse collapse-arrow bg-base-200">
            <input type="radio" name="my-accordion-2" />
            <div class="collapse-title text-xl font-medium">
                <div class="badge badge-secondary">Order ပေးပို့ရန် စောင့်ဆိုင်းနေသည်။</div>
            </div>
            <div class="collapse-content text-white">
                <p>hello</p>
            </div>
        </div>
    </div>
{% endblock content %}
