{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex flex-col md:flex-row max-w-5xl mx-auto py-5 md:py-32">
        <div class="relative md:flex-1">
            <!-- Product carousel -->
            <div class="flex justify-center" id="product-images">{% include "store/partials/_product_images.html" %}</div>
            <!-- Product images loading indicator -->
            <div id="product-images-indicator"
                 class="htmx-indicator bg-white flex justify-center items-center absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2">
                <svg width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <style>.spinner_7WDj{transform-origin:center;animation:spinner_PBVY .75s linear infinite}@keyframes spinner_PBVY{100%{transform:rotate(360deg)}}</style>
                    <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25" />
                    <circle class="spinner_7WDj" cx="12" cy="2.5" r="1.5" />
                </svg>
            </div>
        </div>
        <!-- Produt Detail -->
        <form hx-post="{% url "store:add_to_cart" product.id %}"
              hx-target="#cart"
              id="add-to-cart-form"
              class="p-5 md:flex-1">
            {% csrf_token %}
            <h1 class="font-bold text-lg">{{ product.name }}</h1>
            <p class="mt-2">{{ product.description }}</p>
            <!-- Sizes -->
            {% if product.sizes %}
                <h2 class="font-bold text-lg mt-2">Sizes</h2>
                <div class="flex space-x-4">
                    {% for size in product.sizes.all %}
                        {% if forloop.first %}
                            <label class="flex items-center cursor-pointer space-x-2">
                                <span>{{ size }}</span>
                                <input type="radio"
                                       checked
                                       name="size"
                                       value="{{ size }}"
                                       class="radio radio-primary" />
                            </label>
                        {% else %}
                            <label class="flex items-center cursor-pointer space-x-2">
                                <span>{{ size }}</span>
                                <input type="radio"
                                       name="size"
                                       value="{{ size }}"
                                       class="radio radio-primary" />
                            </label>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <!-- Colors -->
            <h2 class="font-bold text-lg mt-2">Colors</h2>
            <div class="flex space-x-4">
                {% for color in product_colors %}
                    {% if forloop.first %}
                        <label class="flex items-center cursor-pointer space-x-2">
                            <span>{{ color.color }}</span>
                            <input type="radio"
                                   checked
                                   name="color"
                                   value="{{ color.color }}"
                                   class="radio radio-primary"
                                   hx-target="#product-images"
                                   hx-trigger="click"
                                   hx-indicator="#product-images-indicator"
                                   hx-get="{% url "store:product_images" product.id color.color %}" />
                        </label>
                    {% else %}
                        <label class="flex items-center cursor-pointer space-x-2">
                            <span>{{ color.color }}</span>
                            <input type="radio"
                                   name="color"
                                   value="{{ color.color }}"
                                   class="radio radio-primary"
                                   hx-target="#product-images"
                                   hx-trigger="click"
                                   hx-indicator="#product-images-indicator"
                                   hx-get="{% url "store:product_images" product.id color.color %}" />
                        </label>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="mt-3 font-bold text-base">{{ product.price }} MMK</div>
            <!-- Add to cart-->
            <div class="flex space-x-3 mt-6" x-data="{ count: 1 }">
                <div class="flex px-3 space-x-3 text-black font-bold items-center">
                    <span class="btn btn-primary" @click="count === 1 ? '' : count--">-</span>
                    <input class="hidden"
                           type="number"
                           name="quantity"
                           :value="count"
                           id="quantity">
                    <span class="text-white" x-text="count"></span>
                    <span class="btn btn-primary" @click="count++">+</span>
                </div>
                <button class="btn" type="submit" @click="count=1">Add to cart</button>
            </div>
        </form>
    </div>
{% endblock content %}
{% block script %}
    <script defer type="module" src="{% static "js/buttonImages.js" %}"></script>
    <script defer type="module" src="{% static "js/addToCart.js" %}"></script>
{% endblock script %}
