{% load thumbnail %}
<div class="container mx-auto">
    <div id="carousel"
         class="carousel carousel-center w-full p-4 space-x-4 bg-transparent rounded-box">
        {% for graphic in graphics %}
            <div class="carousel-item w-full aspect-w-16 aspect-h-9 {% if forloop.first %}carousel-item-active{% endif %}">
                {% thumbnail graphic.image "1000" as im %}
                    <img src="{{ im.url }}"
                         srcset="{% thumbnail graphic.image '375' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}, {% thumbnail graphic.image '680' as im %}  {{ im.url }} {{ im.x }}w{% endthumbnail %}"
                         loading="lazy"
                         class="object-cover w-full rounded-box"
                         alt="{{ graphic.alt_text }}"
                         width="{{ im.width }}"
                         height="{{ im.height }}" />
                {% endthumbnail %}
            </div>
        {% endfor %}
    </div>
</div>
