<form {% if category and sub_category %} hx-get="{% url "store:specific_shop" category sub_category %}" {% else %} hx-get="{% url "store:shop" %}" {% endif %}
      hx-indicator="#filter-indicator"
      hx-target="#products"
      class="py-7 px-5">
    <!-- Categories -->
    <h3 class="text-lg font-bold">Categories</h3>
    <div class="join join-vertical w-full mt-5">
        <a href="{% url "store:shop" %}"
           class="collapse-title py-0 pl-0 text-xl font-medium uppercase text-black font-mono min-h-0">All</a>
        {% for cat in categories %}
            <div class="collapse">
                <input type="radio"
                       name="my-category-accordion"
                       {% if cat.name == category %}checked="checked"{% endif %} />
                <div class="collapse-title py-0 pl-0 text-xl font-medium uppercase text-black font-mono min-h-0">{{ cat.name }}</div>
                <div class="collapse-content">
                    {% for sub_cat in cat.sub_categories.all %}
                        <a href="{% url "store:specific_shop" cat.name sub_cat.name %}"
                           class="text-secondary capitalize hover:underline cursor-pointer block {% if sub_cat.name == sub_category and cat.name == category %}underline{% endif %}">{{ sub_cat.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="divider"></div>
    <!-- Color -->
    <h3 class="text-lg font-bold">Color</h3>
    <div class="flex flex-wrap space-x-4 w-full mt-5">
        {% for color in colors %}
            <div class="form-control">
                <label class="w-8 h-8 cursor-pointer border-base"
                       style="background-color: {{ color.hex }};
                              color: {{ color.hex }}"
                       x-data="{ selected: false }"
                       :class="selected ? 'border-4' : 'border-2'">
                    <input @click="selected = !selected"
                           type="checkbox"
                           class="hidden"
                           name="color"
                           value="{{ color.name }}" />
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="divider"></div>
    <!-- Filter by Price -->
    <h3 class="text-lg font-bold">Filter by price</h3>
    <div class="text-base mt-2">Price</div>
    <div class="flex space-x-3 mt-3">
        <input type="number"
               name="min"
               id="min"
               class="input input-accent w-24"
               placeholder="Min">
        <input type="number"
               name="max"
               id="max"
               class="input input-accent w-24"
               placeholder="Max">
    </div>
    <div class="divider"></div>
    <!-- Sizes -->
    <h3 class="text-lg font-bold">Sizes</h3>
    <div class="grid grid-cols-2 gap-3">
        <div class="form-control">
            <label class="cursor-pointer label justify-start space-x-3">
                <input type="checkbox"
                       checked="checked"
                       class="checkbox"
                       name="size"
                       value="" />
                <span class="label-text text-base">All</span>
            </label>
        </div>
        {% for size in sizes %}
            <div class="form-control">
                <label class="cursor-pointer label justify-start space-x-3">
                    <input type="checkbox" class="checkbox" name="size" value="{{ size.name }}" />
                    <span class="label-text text-base">{{ size.name }}</span>
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="divider"></div>
    <button type="submit" class="btn btn-accent">
        <span id="filter-indicator" class="htmx-indicator loading loading-spinner"></span>
        Apply
    </button>
</form>
