@tailwind base;
@tailwind components;
@tailwind utilities;

.shop-bg {
  background: rgb(125, 145, 155);
  background: linear-gradient(
    90deg,
    rgba(125, 145, 155, 1) 0%,
    rgba(28, 79, 130, 1) 39%,
    rgba(0, 0, 0, 1) 100%
  );
}

.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  width: 100%;
  padding: 1rem /* 16px */;
  padding-right: 3rem /* 48px */;
  transition: background-color 0.2s ease-out;
}

.htmx-indicator {
  display: none;
}
.htmx-request #filter-indicator {
  display: inline;
}
.htmx-request#filter-indicator {
  display: inline;
}
